@font-face {font-family: quicksand; src: url(assets/fonts/quicksand.ttf)}
@font-face {font-family: icielcadena; src: url(assets/fonts/iciel_cadena.ttf)}

:root {
	--white: #efece6;
	--black: #2d2431;
	--button: #6e8b13;
}

body {
	font-family: quicksand;
	background-color: var(--white);
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: icielcadena;
	font-weight: normal;
	margin-block: 0;
}

b {
	font-family: heading;
	font-weight: normal;
	line-height: 1;
}

img {
	display: block;
	width: 100%;
}

a {
	color: unset;
	text-decoration: unset;
	&:hover {
		text-decoration: underline 0.1em;
	}
}

button {
	appearance: none;
	font: unset;
	text-align: unset;
	background: unset;
	padding: unset;
	border: unset;
	cursor: pointer;
}

/* header */

header {
	display: flex;
	align-items: center;
	gap: 2em;
	padding: 0.5em max(2em, calc(50vw - 300px));
	margin-inline: auto;
	position: sticky;
	top: 0;
	background-color: var(--white);
}

#title {
	width: auto;
	height: 3em;
	&:hover {rotate: -3deg}
}

nav ul {
	display: flex;
	align-items: center;
	list-style: none;
	padding-left: 0;
	margin-block: 0;
	li:not(:last-of-type)::after {
		content: "|";
		color: rgb(from currentcolor r g b / 0.25);
		margin-inline: 0.75em;
	}
}

/* main */

.centered, main {
	max-width: 600px;
	margin-inline: auto;
}

h2 {
	font-size: 2em;
}

#gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5em;

	img {
		border-radius: 4px;
	}
}

/* footer */

#links {
	max-width: 240px;
	margin-inline: auto;

	a {
		display: flex;
		justify-content: space-between;
		color: var(--white);
		background-color: var(--button);
		padding: 0.5em 0.75em;
		border-radius: 6px;
		margin-block: 0.25em;

		&::before, &::after {
			font-family: system-ui, quicksand;
		}
		&::after {content: "→"}
		&.back{
			&::before {content: "←"}
			&::after {content: none}
		}
	}
}

footer {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	color: rgb(from var(--white) r g b / 0.15);
	font: 1.5em/1 icielcadena;
	background-color: var(--black);
	padding: 48px max(32px, calc(50vw - 300px));
	margin-top: 2em;
}

#idea350 {
	font-size: 3em;
}

#copyright {
	grid-column: 2;
	grid-row: 1/3;
}

/* mobile */

@media (max-width: 600px) {
	header {
		font-size: 0.75em;
	}
}