@font-face {font-family: body; src: url(assets/fonts/quicksand.ttf)}
@font-face {font-family: heading; src: url(assets/fonts/iciel_cadena.ttf); size-adjust: 142.5%}
@keyframes fadein {from {filter: brightness(0)}}
@keyframes popup {from {scale: 0}}
@keyframes scroll {to {background-position-x: 0, 100%}}
@keyframes wiggle {33% {rotate: 4deg} 66% {rotate: -2deg}}

:root {
	--bounce: cubic-bezier(0.500, 0.250, 0.000, 1.650);
}

body {
	font: 2em body;
	background:
		radial-gradient(at center, transparent 80%, #615b1a) fixed,
		url(assets/worldmap.png) 0 / auto 100% #c7d43f fixed;
	max-width: 640px;
	margin: 0 auto;
	animation: 120s linear infinite alternate scroll,;
	overflow: auto;

	&::after {
		/* content: ""; */
		background-image: linear;
		border-inline: calc(100vh - 320px) solid;
		position: fixed;
		inset: 0;
		z-index: 99;
		pointer-events: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: heading;
	margin-block: 0;
}

b {
	font-family: heading;
	font-weight: normal;
	line-height: 1;
}

img {
	display: block;
	width: 100%;
}

button {
	appearance: none;
	font: unset;
	text-align: unset;
	background: unset;
	padding: unset;
	border: unset;
	cursor: pointer;
}



/* layout */

#landing {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	margin-inline: -16px;
	background: radial-gradient(circle at center, #615b1a, transparent 40%);
}

h1 {
	z-index: 1;
	animation: 0.5s var(--bounce) popup;
}

#subtitle {
	font-style: italic;
	text-shadow: 0 -2px black, 2px -2px black, 2px 0 black, 2px 2px black, 0 2px black, -2px 2px black, -2px 0 black, -2px -2px black;
	background-color: #c2c232;
	padding-inline: 16px 24px;
	padding-block: 6px;
	border-radius: 1.5em 1em;
	margin-block: -8px 0;
	rotate: -1deg;
	animation: 0.5s var(--bounce) 0.1s backwards popup;
}



/* chatbox */

#chatbox {

}

#furrero {
	object-fit: cover;
	object-position: top;
	aspect-ratio: 8/6;
}