@keyframes scroll {to {background-position-x: 0, 0, 100%}}

/* header */

header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 2;
}

/* landing */

#landing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	background:
		radial-gradient(at center, transparent 80%, #615b1a),
		radial-gradient(circle at center, #615b1a, transparent 40%),
		url(assets/rsz_worldmap.jpeg) center var(--scroll, 50%) / cover #c7d43f;
	height: 90vh;
	padding-bottom: 32px;
	mask: linear-gradient(to top, transparent, white 32px);
	position: relative;
	z-index: 2;
	animation: 120s linear infinite alternate scroll;
}

h1 {
	max-width: 600px;
	z-index: 1;
}

#subtitle {
	font-size: 1.5em;
	font-style: italic;
	text-shadow: 0 -2px black, 2px -2px black, 2px 0 black, 2px 2px black, 0 2px black, -2px 2px black, -2px 0 black, -2px -2px black;
	background-color: #c2c232;
	padding-inline: 16px 24px;
	padding-block: 6px;
	border-radius: 1.5em 1em;
	margin-block: -8px 0;
	rotate: -1deg;
	animation: 0.5s var(--bounce) 0.1s backwards popup;
}

/* frame */

#frame-wrapper {
	position: relative;
}

#framed {
	font-size: 1.5em;
	background-color: #d8d3c8;
	border: 0 solid;
	border-image: url(assets/frame.png) repeat 100 110 100 230 / 50px 55px 50px 115px / 41px 53px 48px 95px;
	padding: 32px 48px;
	margin-block: -32px 40px;
	position: absolute;
	z-index: 2;
}

/* screenshots */

.marquee {
	display: flex;
	background-color: var(--black);
	height: 300px;
	margin-top: -32px;
	mask: linear-gradient(to top, transparent, white 32px);
	contain: strict;

	img {
		width: auto;
		aspect-ratio: 5/3;
	}
}

#marquee-top {
	position: relative;
	z-index: 1;
}

/* info */

#info {
	text-align: center;
	padding-inline: 2em;
	margin-bottom: 2em;
}

#pins {
	max-width: 400px;
	margin-inline: auto;
	margin-top: -48px;
	position: relative;
	z-index: 1;
}

/* links */

#links-flex {
	display: flex;
	padding-inline: 1em;
	position: relative;
	z-index: 1;
}

#furrero {
	object-fit: cover;
	object-position: top;
	max-width: 450px;
	margin-inline: -50px -160px;
	mask: linear-gradient(to top, transparent, white 32px);
	contain: size;
	z-index: -1;
}

#links-wrapper {
	margin-block: 4em;
	flex: 1;
}

#widget {
	background-color: var(--black);
	width: 100%;
	border: none;
	border-radius: 8px;
	margin-bottom: 0.75em;
}

/* mobile */

@media (max-width: 600px) {
	#framed {
		margin-inline: 20px;
		position: relative;
	}
}