main {
	font-size: 1.5em;
	text-align: center;
	padding-inline: 2em;
}

h1 {
	font-size: 1.5em;
	margin-block: 1em;
}

/* members */

#members {
	margin-block: 2em;
}

/* gallery */

#gallery {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-block: 2em;

	a {
		align-self: stretch;
		cursor: zoom-in;
		&:first-of-type {grid-row: 1/3}
		&:hover {scale: 1.02}
	}

	img {
		height: 100%;
		object-fit: cover;
		object-position: left;
	}
}

/* links */

#links {
	margin-top: 3em;
}