main {
	font-size: 1.5em;
	text-align: center;
	padding-inline: 2em;
}

h1 {
	font-size: 1.5em;
	margin-block: 1em;
}

/* ratings */

#ratings {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
	font-size: 1.25em;
	margin-block: 1em;
}

.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rating-score {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
	font-size: 1.5em;
	background-color: var(--button);
	width: 4em;
	aspect-ratio: 1;
	border-radius: 50%;
}

/* gallery */

#gallery {
	margin: 2em -64px;
}

/* mobile */

@media (max-width: 600px) {
	#ratings {
		flex-direction: column;
		gap: 1em;
	}
	#gallery {
		display: flex;
		flex-direction: column;
		margin-inline: unset;
	}
}